<?xml version="1.0" encoding="utf-8"?>
<browserconfig>
    <msapplication>
        <tile>
            <square150x150logo src="<%=canonical%>img/logo/mstile-150x150.png"/>
            <TileColor>#00a300</TileColor>
        </tile>
    </msapplication>
</browserconfig>
