<?xml version="1.0" encoding="utf-8"?>

<xsl:stylesheet
  xmlns:xsl="http://www.w3.org/1999/XSL/Transform"
  version="1.0"
  xmlns="http://www.w3.org/1999/xhtml"
>
  <xsl:output
    method="html"
    encoding="utf-8"
    indent="yes"
  />

  <xsl:template match="/">
      <html lang="<%=activeLang%>" vocab="http://schema.org/">
      <%- include('fragments/head.ejs'); %>
      <body>
      <%- include(`fragments/nav_menu.ejs`); %>
      .<br/>.<br/>
        <h1>Plan du site</h1>
        <ul>
          <xsl:for-each select="*/*">
            <li><a>
              <xsl:attribute name="href">
                <xsl:value-of select="*[1]"/>
              </xsl:attribute>
              <xsl:apply-templates select="*[1]"/>
            </a></li>
          </xsl:for-each>
        </ul>
      <%- include(`fragments/footer.ejs`); %>
      </body>
      </html>
  </xsl:template>

</xsl:stylesheet>
