/* TEAM */
Developpement : [1000i100] Millicent Billette de Villemeur
Gfx : Loïc Mathey
Autor : Non spécifié
Location: Bordeaux, France.

/* THANKS */
Host: Framasoft et leur équipe de libristes bénévoles !
Name: ??? pour leurs précieuses relectures

/* SITE */
Last update: <%=now%>
Standards: HTML5, CSS3+Stylus, ES6(JavaScript)
Components: VanillaJS
Software: Gitlab, Gitlab-CI, WebStorm, Git, Inkscape, Gimp, Darktable
