<!DOCTYPE html>
<html lang="<%=activeLang%>" vocab="http://schema.org/">
<%- include('fragments/head.ejs'); %>
<body>
<%- include(`fragments/nav_menu.ejs`); %>
{{{mainContent}}}
<!--< %- include(`fragments/keep-in-touch.ejs`); % >-->
<%- include(`fragments/footer.ejs`); %>
</body>
</html>
