{
    "name": "intim'idées",
    "short_name": "intim's",
    "icons": [
        {
            "src": "<%=canonical%>img/logo/android-chrome-192x192.png",
            "sizes": "192x192",
            "type": "image/png"
        },
        {
            "src": "<%=canonical%>img/logo/android-chrome-256x256.png",
            "sizes": "256x256",
            "type": "image/png"
        }
    ],
    "theme_color": "#AD0042",
    "background_color": "#000000",
    "display": "standalone"
}
