noir=#000000
gris=#919191
blanc=#FFFFFF
jaune=#FCB315
rouge=#AD0042
bleu=#20336B

linkColor = blanc
linkUnderlineColor = alpha(linkColor, .15)
titleColor = jaune
bgMain=noir
bgMenu=rouge
colorMenu=blanc
bgToc=rouge
bgArticle=noir
mainTextColor=gris
bgMenuHover=jaune
menuBorderSize=2px
menuHeight=64px
menuHeightArea=menuHeight+menuBorderSize
smallSpace=10px
bgFocus=hsla(0,0,100%,.5);
bannerTextSize=unquote("calc(3vw + 3vh)")
bannerLineSpace=unquote("calc(4vw + 4vh)")
tabHoverColor=alpha(#000, .1)
afterSplash=100px

buttonTextSize=unquote("calc(1vw + 1vh)")
bgButton=jaune
buttonTextColor=rouge

underline()
  border 0
  border-bottom 1px solid transparent
  border-image linear-gradient(to right, alpha(lighten(linkColor,30%),0) 0%, lighten(linkColor,30%) 25%, lighten(linkColor,30%) 75%, alpha(lighten(linkColor,30%),0) 100%) 100% 1

/* FONTS DEFINITION */

// https://www.fontsquirrel.com/tools/webfont-generator
// Variable font
@font-face {
  font-family: "Dosis";
  src: url("./font/Dosis-VariableFont_wght.woff2") format("woff2-variations"),
    url("./font/Dosis-VariableFont_wght.woff") format("woff-variations");
}

// Fallback static font
@font-face {
  font-family: "DosisStatic";
  font-weight: normal;
  font-style: normal;
  src: url("./font/Dosis-Regular.woff2") format("woff2"),
    url("./font/Dosis-Regular.woff") format("woff");
}
@font-face {
  font-family: "DosisStatic";
  font-weight: bold;
  font-style: normal;
  src: url("./font/Dosis-Bold.woff2") format("woff2"),
    url("./font/Dosis-Bold.woff") format("woff");
}

*
  margin 0
  padding 0
  border 0
  box-sizing border-box
  color mainTextColor
  font-family DosisStatic, sans-serif
  font-variation-settings: 'wght' var(--text-axis);
  line-height 160%
  font-size 16pt

@media screen
  .onlyPrint
    display none !important
  body
    //background url("img/nop") repeat, bgMain
    background bgMain
    background-size 500px
    display flex
    flex-direction column
    justify-content center

@media print
  nav, footer, .noPrint, .neverPrint, canvas, .close, .bgPopupClose, .anchorLink
    display none !important
  .print
    display block !important
  [data-print]::after
    content attr(data-print)
    font-size 0.7em
    font-weight normal
    white-space nowrap
  [data-print]
    text-align left
  .subPage.print
    opacity 1
    margin-left 50px
  #splash, #splash>*
    height 12cm !important
    width 100% !important
    background transparent !important
    .onlyPrint
      width 100%
    .countdown
      padding-top 1.5cm !important
      line-height 1.5cm !important
  section
    background none !important
  #accueil .focusBox, #decouvrir, #participerPrint, #info_pratique
    page-break-after always
  .day, img
    page-break-inside avoid
  article .columnArea > *
    display block
  #programme
    .unselected, .inactive
      opacity 1
    article .speakersList
      position initial
  body #programme .day .places li
    display inline-block
  #accueil #decouvrir
    >h2
      text-align center
    >div
      display block
      >div
        flex unset
        /*border-left none
        float left
        width 7.5cm
        padding 0
        &:first-child
          float left
          width 11.5cm
        &:last-child
          clear both
          width 100%
          */
        >ul
          display block
          >li
            flex unset
            text-align left
            margin 0
            padding 0
            >a
              height 100%
              display block
              padding 0px
              .picto
                display inline-block
                vertical-align middle
                margin 0 10px
                font-size 32px
                line-height 32px
                >img
                  height 32px
              .title span
                display block
                margin-left 1.5cm
                margin-top -.2cm
  #apropos .columnArea>*
    padding 10px
    margin-bottom 10px
  .subPage.active
    display block !important
    overflow initial !important
    border none !important
    *
      flex unset !important
      border none !important
    .speaker
      clear both
      page-break-inside avoid
      margin-bottom 0.2cm
      *
        text-align justify !important
      img
        float left !important
        max-height 3cm !important
        margin-bottom 10px !important
        margin-right 10px !important
  #programme article ul li.day
    display block
    clear both
    .sessions
      display block
  .timelines
    min-height 4cm
    float left
    display block
    clear both
    position relative
    .timeline
      float left
      height 100%
      display block
a.nav
  position absolute
  top 10px
  padding 10px
  display block
  height 44px
  img
    height 24px
    opacity .3
  &:hover img
    opacity .9
.previous
  left 30px
.next
  left 75px

.video
  margin-top 40px
  text-align center
.videoArea
  width 888px
  height 500px
  background-color black
  display block
  margin auto
  text-align center
  padding-top 0.1px
  &:hover img
    transform scale(1.2)
  &:active img
    background-color #ccc

  img
    display block
    margin auto
    margin-top ((500px - 28 - 42)/2)
    padding 20px
    padding-top 8px
    background-color #eee
    border-radius 25px
    transition transform 0.2s
  @media (max-width: 1120px)
    width 560px
    height 315px
    img
      margin-top ((315px - 28 - 42)/2)
  @media (max-width: 620px)
    width 428px
    height 240px
    img
      margin-top ((240px - 28 - 42)/2)
  @media (max-width: 490px)
    width 256px
    height 144px
    img
      margin-top ((144px - 28 - 42)/2)


.vids a img
  height bannerTextSize
  transition transform 0.2s
  &:hover
    transform scale(1.2)


.eventArea .titleBar
  float right
  img
    width 64px
  a
    display inline-block
.infoBoxParent
  position relative
  z-index 1
  .infoBox
    display none
    opacity 0
    transition opacity 0.5s
    z-index 2
  &:hover .infoBox
    display block
    opacity 1
    position absolute
    background white
    border solid 1px lighten(linkColor,30%)
    top "calc(100% + %s)" % 10px
    left 50%
    width 150px
    margin-left (- @width / 2)
    font-size 12px
    text-align center
    padding 10px
    &:before, &:after
      bottom: 100%;
      left: 50%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
    &:after
      border-color alpha(white,0)
      border-bottom-color white
      border-width 10px
      margin-left -10px
    &:before
      border-color alpha(lighten(linkColor,30%),0)
      border-bottom-color lighten(linkColor,30%)
      border-width 11px
      margin-left -11px

/* LIENS HYPERTEXTES */

a
  font-weight bold
  color linkColor
  text-decoration-color linkUnderlineColor
  *
    color inherit
a:hover
  text-decoration-color alpha(linkColor, .9)
header h1
  margin 0
  font-size 100%


h1 img
  height menuHeight
  padding 6px
  float left

@media screen
  nav.main
    position fixed
    background bgMenu
    display flex
    justify-content space-around
    width 100%
    line-height menuHeight
    z-index 3
    *
      color colorMenu
    > .spacer
      flex 2
    > a
      //flex 1
      font-size 20px
      text-align center
      overflow hidden
      white-space nowrap
      margin 0 smallSpace
      border 0 solid transparent
      text-decoration none
      padding 0 1vw
  nav.main a:hover
    color linkColor
    //font-weight bold
    background bgMenu//alpha(bgMenu,.1)
    box-shadow 0px 2px 4px 1px black
  nav.main a
    &, > *
      text-decoration none
      line-height menuHeight
      display inline-block
      vertical-align top


.page
  margin 50px auto
  width 70%
  padding 50px
  box-shadow 0px 2px 4px 1px black
.disclaimer
  margin 50px
  padding 10px 30px
  border 10px solid transparent
  box-shadow 0px 2px 4px 1px black
  background-color alpha(#FE0,0.08)
.MEDdisclaimer, .ddisclaimer
  border 10px solid red
  border-image-source repeating-linear-gradient(45deg, red 0, red 10px,white 10px,white 20px)
  border-image-slice 10

.BADdisclaimer, .ddisclaimer:hover
  color: red;
  display: block;
  animation: blink-animation 0.2s infinite;
  *
    color: inherit

@keyframes blink-animation {
  0% {
    background: linear-gradient(to right, green, yellow);
    color: yellow;
    border-image-source repeating-linear-gradient(-45deg, purple 0, purple 10px,yellow 10px,yellow 20px)
  }
  50% {
    background: linear-gradient(to bottom, yellow, green);
    color: red;
    border-image-source repeating-linear-gradient(60deg, cyan 0, cyan 10px,yellow 10px,yellow 20px)
  }
  100% {
    background: linear-gradient(to right, yellow, green);
    color: purple;
    border-image-source repeating-linear-gradient(45deg, red 0, red 10px,white 10px,white 20px)
  }
}

address
  padding-left 2*smallSpace

p
  margin smallSpace 0
  text-align justify
  text-indent 2*smallSpace

h1, h2, h3, h4, h5, h6
  margin-top 2*smallSpace
  margin-bottom smallSpace
  color titleColor

@media screen
  header+section
    padding-top 80px
    min-height calc(100vh - 70px)
  section
    //margin-top 60px
    padding 5vw
    padding-top 20px
    padding-bottom calc(2.5vw + 2.5vh)
    background bgArticle
    transition background .5s
    box-shadow 0 0 50px noir
    max-width 1000px
    margin auto

.focusBox
  font-size 120%
  text-align justify
  margin 40px auto
  padding 40px
  //margin-top 0
  padding-top 0
  underline()
  column-width 450px
  column-gap 60px
  >*
    text-indent 0
    margin-top 0
    margin-bottom 20px

article
  margin-right calc(5vw - 15px)
  margin-left calc(5vw - 15px)
  //padding-top menuHeightArea
  margin-top 0.5*menuHeightArea
  margin-bottom 0.5*menuHeightArea
  text-align justify
  font-size 110%


li
  margin smallSpace // smallSpace/2
  margin-left 4*smallSpace

em[id]
  display block
  //padding-top menuHeightArea + smallSpace
  //margin-top -(menuHeightArea + smallSpace)
[id]
  h1, h2, h3, h4, h5, h6
    position relative
    .anchorLink
      position absolute
      display block
      left -25px
      width 25px
      top 0
      bottom 0
      background-image url("img/picto/link.svg")
      background-size 20px
      background-repeat no-repeat
      background-position center left
      opacity .1
      transition opacity .5s
      transition-delay .2s
    &:hover .anchorLink
      opacity .6
      transition-delay 0s
.permalien
  color inherit
  text-decoration none
.highlight
  transition background .5s
  background bgFocus


#splash
  height "calc(100vh - %s)" % afterSplash
  width 100%
  max-width 100%
  position relative
  z-index 1
  > *
    position absolute
    top 0
    left 0
    right 0
    bottom 0
  .textSplash
    padding 0 smallSpace
    padding-top menuHeightArea
    padding-top 28vh
    padding-left 33vw
    padding-right 5vw
    font-size bannerTextSize
    font-weight bold
    display block
    text-shadow 0 0 8px black
    line-height 140%
    transition text-shadow 1s
    &:hover
      text-shadow 5px 0 8px red,-5px 0 8px green,0 -5px 8px blue,0 5px 8px yellow
    a
      text-decoration none
      color white
  .countdown
    //font-size (100vw / 32)
    font-size bannerTextSize
    font-weight bold
    color white
    padding-top 28vh
    //padding-top "calc( ( 100vh - %s - %s - 20vw ) / 2.1 + %s)" % (menuHeightArea afterSplash menuHeightArea)
    line-height bannerLineSpace
    //line-height "calc(70vh - %s)" % 70px
    vertical-align center
    text-align center
    text-shadow 0 8px 32px black, 4px 8px 16px black, 2px 4px 8px black
    *
      color inherit



.startTime
  color inherit;

.roomRef
  color: transparent;
  display: inline-block;
  border-radius: 100%;
  width: 16px;
  height: 16px;
  line-height: 100%;
  vertical-align: middle;
  margin-top: -2px;


roomColor(color)
  &.roomRef
    background-color alpha(color,.3)
    &.hover
      background-color alpha(color,1)
  &.subPageLink
    text-decoration none
    box-shadow inset 0 0px 0 alpha(color, 0), inset 0 -2px 0 alpha(color, .3)
    &:hover, &.hover
      box-shadow inset 0 0px 0 alpha(color, 0), inset 0 -2px 0 alpha(color, 1)
  .timeBloc
    background-color alpha(color,.3)
    &:hover, &.hover
      background-color color

.room_1
  roomColor(#C70)
.room_2
  roomColor(#099)
.room_3
  roomColor(#A0E)
.room_4
  roomColor(#2B0)
.room_5
  roomColor(#33E)

.inactive, .subPage[id^="session_"].inactive, #programme .inactive, #programme .day .inactive
  display none

body>section
  position relative

.subPage
  padding 4*smallSpace
  //padding-top menuHeightArea
  border 0
  border-left 4px solid alpha(lighten(linkColor,30%),0)
  border-image linear-gradient(to bottom, alpha(lighten(linkColor,30%),0) 0%, lighten(linkColor,30%) 25%, lighten(linkColor,30%) 75%, alpha(lighten(linkColor,30%),0) 100%) 1 100%

  //background-color white
  //background-image url("img/filigrane.jpg")
  //background-size cover
  //background-position bottom center
  //background-attachment fixed

  &>*:last-child
    padding-bottom 4*smallSpace
  &[id^="session_"]
    display flex
    flex-wrap wrap
    .eventArea
      flex 3 500px
      margin 0
      margin-right 4*smallSpace
      padding 0
      padding-bottom 4*smallSpace
    .speakersArea
      flex 1 250px
      padding-bottom 4*smallSpace
      img
        max-width 66%
        max-height 250px
        border-radius 100%
        display block
        margin auto
      .speaker
        underline()
        padding-bottom 40px
        margin-bottom 40px
        &:last-child
          border-bottom none
          padding-bottom 0
          margin-bottom 0
        h4, > a
          text-align center
          display block
          margin auto
  h1
    font-size 500%
  img
    max-width 100%
  @media screen
    &.active, &[id^="session_"].active
      position fixed;
      top (2*menuHeightArea - 2px)
      bottom  menuHeightArea
      left menuHeightArea
      right menuHeightArea
      padding 4*smallSpace
      background-color white
      box-shadow 0 0 5*smallSpace smallSpace black
      overflow auto
      z-index 5
      .close
        position fixed
        z-index 1
        top 2*menuHeightArea +2px
        right menuHeightArea + 2 * smallSpace
        padding 6px 3*smallSpace 2px
        margin 0 smallSpace
        font-weight bold
        background-color rgba(100%,100%,100%,.9)
        text-decoration none
        display block
        underline()
      .bgPopupClose
        position fixed
        background-color hsla(0,0,0,0.4);
      .bgTop
        top menuHeight
        bottom "calc(100% - %s)" % (2*menuHeightArea)
        left 0
        right 0
      .bgBottom
        top "calc(100% - %s)" % menuHeightArea
        bottom 0
        left 0
        right 0
      .bgLeft
        top 2*menuHeightArea
        bottom menuHeightArea
        left 0
        right "calc(100% - %s)" % menuHeightArea
      .bgRight
        top 2*menuHeightArea
        bottom menuHeightArea
        left "calc(100% - %s)" % (menuHeightArea)
        right 0
      &.large
        top menuHeight+smallSpace - 2px
        bottom  smallSpace
        left smallSpace
        right smallSpace
        padding smallSpace
        padding-top 3*smallSpace
        .close
          position fixed
          top menuHeightArea+smallSpace
          right smallSpace + 2 * smallSpace
        .bgTop
          top menuHeight
          bottom "calc(100% - %s)" % (menuHeight+smallSpace)
          left 0
          right 0
        .bgBottom
          top "calc(100% - %s)" % smallSpace
          bottom 0
          left 0
          right 0
        .bgLeft
          top menuHeight+smallSpace
          bottom smallSpace
          left 0
          right "calc(100% - %s)" % smallSpace
        .bgRight
          top menuHeight+smallSpace
          bottom smallSpace
          left "calc(100% - %s)" % (smallSpace)
          right 0
      @media (max-width: 730px)
        &.active, &[id^="session_"].active
          top menuHeight+smallSpace - 2px
          bottom  smallSpace
          left smallSpace
          right smallSpace
          padding smallSpace
          padding-top 3*smallSpace
          .close
            position fixed
            top menuHeightArea+smallSpace
            right smallSpace + 2 * smallSpace
          .bgTop
            top menuHeight
            bottom "calc(100% - %s)" % (menuHeight+smallSpace)
            left 0
            right 0
          .bgBottom
            top "calc(100% - %s)" % smallSpace
            bottom 0
            left 0
            right 0
          .bgLeft
            top menuHeight+smallSpace
            bottom smallSpace
            left 0
            right "calc(100% - %s)" % smallSpace
          .bgRight
            top menuHeight+smallSpace
            bottom smallSpace
            left "calc(100% - %s)" % (smallSpace)
            right 0

a.subPageLink
  clear both
  &.active:after
    content " "
    background linear-gradient(to left, lighten(linkColor,30%) 0, alpha(lighten(linkColor,30%),0) 100%)



.session>.subPageLink, .speakerHead
  transition opacity .5s
.unselected, .inactive
  opacity .3
  &:hover
    opacity 1

#espace_presse
  figure
    flex 1 250px
    text-align center
    *
      text-align center
    >*
      flex 1
    img
      display block
      margin auto
      max-width 250px

//- tab hover
tr:hover
  background-color tabHoverColor
thead tr:hover
  background-color transparent
//- end tab hover
table
  border-collapse collapse
  margin 20px 0
  td, th
    border 1px solid alpha(gris, 30%)
    padding 0 5px
    white-space nowrap

.strong
  font-weight bold


.columnArea
  margin-top 20px
  column-width 450px
  column-fill balance
  //column-rule solid #ccc 1px
  column-rule solid alpha(lighten(linkColor,10%),.4) 1px

  > *
    display inline-block
    padding 20px
    padding-top 0
    underline()
    margin-bottom 20px
    h3
      margin-top 0
.flexArea
  display flex
  flex-wrap wrap
  > *
    flex 1 350px
    border-left solid alpha(lighten(linkColor,10%),.4) 1px
    padding 0 20px
    &:first-child
      border-left none

#contact
  //padding-top menuHeightArea
  //margin-top - menuHeightArea
  /*
  ul
    display flex
    flex-wrap wrap
    li
      flex 1 200px
      list-style none
      margin 10px
      padding 0
      text-align center
      */

@media (max-width: 730px)
  article
    margin 0
    padding smallSpace
    //padding-top (menuHeightArea)//+smallSpace)

@media (min-width: 1210px) and (max-width: 1460px)
  .spacer
    display none
@media  (max-width: 1060px)
  .spacer
    display none
@media (min-width: 1211px)
  .short
    display none
@media (min-width: 831px) and (max-width: 1210px)
  .long
    display none
@media (max-width: 340px)
  nav.main h1 a+a
    display none
  #splash
    padding-left smallSpace
    a
      font-size 120%
@media (max-width: 270px)
  .short
    display none
@media (max-width: 280px)
  .flexArea > *, #espace-accueil>article>div>div>ul>li, .focusBox
    padding 0
    *
      padding 0
    >a .picto
      font-size 40vw
      line-height 40vw
      >img
        height 40vw
@media (max-width: 180px)
  li, article, #espace-accueil>article div >div >ul >li
    margin 0
    padding-left 0
    padding-right 0
  h1, h2, h3, h4, .focusBox, #splash a
    font-size 100%
  body
    font-size 10vw
    line-height 15vw
@media (max-width: 120px)
  nav.main h1
    display none
  nav.main
    min-height menuHeightArea

@media (min-width: 731px) and (max-width: 860px)
  nav.main h1 a+a
    display none
@media (min-width: 731px) and (max-width: 790px)
  nav.main .short span
    display none

@media (max-width: 830px)
  //.short,
  .long
    display none
@media (min-width: 730px)
  .mobileOnly
    display none !important
@media (max-width: 730px)
  .desktopOnly
    display none !important
  #splash .button
    display none
  nav.main
    display block
    width 100vw
    >a
      display none
    &.active>a
      display block

    &:before
      content '☰'
      padding 0 (menuHeight/3)
      color white
      display block
      position absolute
      right 0
      top 0
      font-size (menuHeight/2)
      cursor pointer
      &:hover
        color linkColor




.altLang img
  max-height 2em

#disclamer
  position fixed
  z-index 2
  top 60px
  background #FED
  padding 20px
  left 0
  right 0
  .close
    float right
    padding 20px
    margin -20px
    cursor pointer

.email
  padding 20px
  width 100%
  border 1px solid black

img
  max-width 90vw
  max-height 50vh

.portrait
  max-width 30vw
  max-height 70vh
  float right
  margin 5vw
  margin-top 0
  margin-bottom 2vh


footer
  background bgMenu
  padding 10px 5vw
  *
    color colorMenu
  a
    text-decoration-color alpha(linkColor, .3)
  a:hover
    text-decoration-color alpha(linkColor, .9)
  .l1
    display flex
    justify-content space-between
    flex-flow revert
    flex-direction row-reverse
  .altLang
    text-align center
    img
      vertical-align middle

.button, a[title*="button"]
  font-size buttonTextSize
  background-color bgButton
  color buttonTextColor
  display inline-block
  //border solid 2px buttonTextColor
  border-radius 2*smallSpace
  padding smallSpace 4*smallSpace
  cursor pointer
  letter-spacing 4px
  font-weight bold
  text-shadow none
  text-decoration none
  transition transform 0.4s cubic-bezier(0.5,2,0.5,2)
  &:hover
    transform scale(1.05)
.withPicto, a[title*="withPicto"]
  padding-left 7*smallSpace
  padding-right 3*smallSpace
  background-image url("img/lang.svg")
  background-size calc(1.6 * ( 1vw + 1vh ) )
  background-repeat no-repeat
  background-position 2.2*smallSpace smallSpace
.agenda
  background-image url("img/calendar.svg")
.right
  float right
  @media (max-width: 730px)
    float none
    display block
    text-align right

iframe.full
  position fixed
  top menuHeight
  left 0
  right 0
  bottom 0
  width 100%
  height "calc(100% - %s - 70px)" % menuHeight // 70px : footer

.flexArea h2
  font-size 200%

.flexArea .right
  margin-top 12px
.flexArea h3
  text-transform uppercase
  font-size 130%
  color linkColor

.flexArea>*
  border none
  margin 0 5px
  display block
  text-decoration none
  color bgMain

.flexArea>*:hover
  border-radius 50px 0 50px 0
  box-shadow 0px 2px 4px 4px alpha(bgButton,.2)

h1
  font-weight normal
  font-size 250%
h2
  font-weight bold
  font-size 150%
h3
  text-align left
  font-size 120%
  margin-bottom 2*smallSpace
  margin-top 60px


.col
  columns: 5 300px;
.col4
  columns: 4 300px;
.col3
  columns: 3 300px;
.col2
  columns: 2 300px;

center *
  text-align center

section:empty
  display none

.author
  margin 50px
  border-right 1px solid vert
  padding-right 3*smallSpace
.author *
  text-align right
  font-style italic

.authorname
  margin-bottom 4*smallSpace
.authorname *
  text-align center
  font-size 140%

.toc
  border 1px solid black
  width 65%
  margin 10px 20px auto
  background bgToc
  *
    text-align center
    text-indent 0

.toc2
  border 3px solid black
  background bgToc
  width 100%
  min-height 157px
  margin auto
  margin-top 10px
  margin-bottom 20px
  display block
  paddin 0
  .subtoc2
    background darken(bgToc, 10%)
    display block
    width 100%
    min-height 157px
    h1
      margin-top 3*smallSpace
  h1
    text-indent 0
    font-size 250%
    font-weight normal
    text-align center
  h2
    margin-top 0
    text-indent 0
    font-size 180%
    font-weight normal
    text-align center
  h3
    font-weight normal
    text-align center
    margin-top 20px
    font-size 130%

.tbp
  background darken(bgToc, 20%)

.textnote p
    text-indent 0
    font-size 85%
    font-style italic

.tnright
  text-align right

blockquote
  margin-left 2*smallSpace
  border-left 1px solid vert
  margin-top 2*smallSpace
  margin-bottom 2*smallSpace
  padding-left 3*smallSpace
  *
    text-indent 0
    font-style italic

.poetry
  margin-left 2*smallSpace
  margin-top 2*smallSpace
  margin-bottom 2*smallSpace
  p
    text-indent 0
    font-style italic

img[alt^="cover"]
  object-fit cover
  width 100%
  max-height 33vh
  display block
  margin auto
  border 3px solid black

img[alt^="vignette"]
  object-fit cover
  height 173px
  width 20%
  display block
  margin 0
  margin-right 2vw
  margin-left 3vw
  float left

img[alt^="frontpage"]
  object-fit cover
  text-indent 0
  text-align center
  display block
  width 100%
  max-height 100%

img[alt^="rouedupouvoir"]
  margin auto
  display block

span[class="ref"]
  font-size 80%
  font-weight light

span[class="ref"] a
  font-weight light


img[alt*="left"]
  float left
  margin 0
  margin-right 2vw

img[alt*="small"]
  object-fit cover
  max-height 300px
  max-width  300px
  display block

img[alt*="circle"]
  border-radius 100%
