<footer class="desktopOnly">
    <div class="l1">
        <span class="by"><%- techCredit %></span>
        <nav class="subMenu">
            <!--<a href="#keep_in_touch"><%= keepInTouch.menuText %></a>-->
<!--            <a href="< %= pressMenuLink % >">< %= pressMenuText % ></a>-->
            <a href="<%= legalsMenuLink %>"><%= legalsMenuText %></a>
        </nav>
    </div>
</footer>
