<head prefix="og: http://ogp.me/ns# website: http://ogp.me/ns/website#">
  <meta charset="utf-8"/>
  <title><%=title%></title>
  <link rel="stylesheet" href="style.css"/>

  <link rel="shortcut icon" href="img/logo/favicon.ico" type="image/x-icon"/>

  <link rel="icon" type="image/png" sizes="32x32" href="img/logo/favicon-32.png"/>
  <link rel="icon" type="image/png" sizes="16x16" href="img/logo/favicon-16.png"/>
  <meta name="msapplication-TileColor" content="#00a300"/>
  <meta name="theme-color" content="#ffffff"/>



  <link rel="canonical" href="<%=canonical%><%=fileName%>.html"/>
  <link type="text/plain" rel="author" href="<%=canonical%>humans.txt" />
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link rel="manifest" href="site.webmanifest"/>


  <meta property="og:type" content="website" />
  <meta property="og:locale" content="<%=activeLang%>" />
  <meta property="og:title" content="<%=title%>" />
  <meta property="og:site_name" content="<%=og.site_name%>" />
  <meta property="og:url" content="<%=canonical%><%=fileName%>.html" />

  <% if(typeof og.image !== "undefined"){ _%>

  <meta property="og:image" content="<%=canonical%><%=og.images_path%><%=og.image%>" />
  <!--  <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="628" /> -->
  <% } _%>

  <meta property="og:description" content="<%=description%>" />
  <meta property="og:updated_time" content="<%=now%>"/>
  <meta name="description" content="<%=description%>" />
</head>
