<header>
    <nav class="main toInit">
        <h1><a class="titre" href="./"><img src="img/logo/svg/intim-idees-horizontal-rouge.svg" alt="<%= titre %>"/></a>
        </h1>
        <div class="spacer"></div>

        <a href="./#top">Accueil</a>
        <a href="./#qui-sommes-nous-%3F">L'équipe</a>
        <a href="./#évènements">Évènements</a>
        <a href="./#ressources-%26-contacts">Contact</a>
        <a class="mobileOnly" href="<%= legalsMenuLink %>"><%= legalsMenuText %></a>
    </nav>
    <script>
      document.querySelectorAll('nav.toInit').forEach(nav=>{
        document.querySelector('nav').classList.remove('toInit');
        nav.addEventListener('click',()=>document.querySelector('nav').classList.toggle("active"));
      });
    </script>
</header>
